@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

li{
  list-style: decimal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Scroll Bar  */

@media only screen and (max-width: 600px){

  ::-webkit-scrollbar{
    display: none;
  }
  
  }
  
  @media only screen and (min-width: 600px){
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
  
  }

  /* active category  */

  .active{
    background: linear-gradient(90deg, #61dafb 0%, #646cff 100%);
    color: white;  
  }


  
.bg__transparent{

  background: linear-gradient(
      0deg,      
      rgb(237,242,247) 0%,
      rgba(0, 0, 0, 0) 100%

     );

     /* bg-gradient-to-t from-[rgb(203,213,224)]  to-[rgb(237,242,247)] */
}

